<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/estilo.css" type="text/css" media="screen" charset="utf-8">
    <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/application.js" type="text/javascript" charset="utf-8"></script>

    <title>Sistema de Consulta de Notas</title>
    
</head>
<body>
    <div id="todo">
        <div id="cintillo_institucional">
            <div id="gbv"> &nbsp; </div>
            <div id="bicentenario"> &nbsp; </div>
        </div>
        <div id="informacion">
            [% IF c.user_exists %]
            <span class="titulo">Nombres:</span>
            <span> [% c.user.nombres %]</span>
            <span class="titulo">Apellidos:</span>
            <span> [% c.user.apellidos %]</span>
            <span class="titulo">Cédula de Identidad:</span>
            <span> [% c.user.cedula %]</span>            
            <span class="titulo">Año:</span>
            <span> [% c.user.ano %]</span>
            <span class="titulo">Sección:</span>
            <span> [% c.user.seccion %]</span>
            [% END %]
        </div>
        <div id="menu">
            [% IF c.user_exists %]
                <div>
                    <a href="/reporte/pdf"> Reporte PDF </a>
                </div> 
                <div>
                    <a href="/logout"> Salir </a>
                </div> 
            [% END %]
        </div>
        <div id="contenido">
            <div id="contenido_titulo">
                [% titulo %]
            </div>
            <div id="contenido_inside">
                [% content %]
            </div>
        </div>
        <div class="footer"> 
            La información aquí contenida es referencial, las notas no podrán ser considerados como información 
            certificada del Liceo Bolivariano "Dr. Vicente Dávila" para uso en nigún trámite legal.
        </div>
    </div>
</body>
</html>
